body{
    background-color: #D8DFE8;
    
    
}
header{
    width: 8%;
    margin: 3%;
    display: inline-block;
}
main{
    display: inline-block;
    vertical-align: top;
    width: 80%;
    margin: 2.6%;
    
}
.ingresotexto{
    display: inline-block;
    margin-top: 13.6%;
    width: 63%;
    margin-right: 3%;
        
}
.ingresotexto p{
    margin-top: 35%;
    padding: 2% 0;
    font-size: 100%;
    color: #495057;
    line-height: 150%;

}
.input{
    background-color: #D8DFE8;
    color: #0a3871;
    font-size: 32px;
    border: none;
    width: 100%;
    font-weight: bold;
    display: block;
    
}
::placeholder{
    color: #0a3871;
}
.input:focus { 
    outline: none;
    border-color: none;
}
.encriptador{
    width: 35%;
    padding: 3% 0;
    font-size: 100%;
    color: #ffffff;
    background: #0a3871;
    border-color: #0a3871;
    border-radius: 24px;
    transition: 0.5s all;
    cursor: pointer;
}
.encriptador:hover{
    transform: scale(1.05);
}
.desencriptador{
    width: 35%;
    padding: 3% 0;
    font-size: 100%;
    color: #0a3871;
    background: #D8DFE8;
    border-color: #0a3871;
    border-radius: 24px;
    transition: 400ms all;
    cursor: pointer;
}
.desencriptador:hover{
    transform: scale(1.05);
}
.respuesta{
    vertical-align: top;
    width: 30%;
    height: auto;
    display: inline-block;
    text-align: center;
    padding: 16% 1.2% 30% 1.2%;
    box-sizing: border-box;
    background-color: white;
    border-radius: 32px;
}
.ningunmensaje{
    font-weight: bold;
    font-size: 30px;
    line-height: 120%;
}
.mensajesintexto{
    font-size: 24px;
    color: #495057;
}
.copiar{
    float: right;
    width: 30%;
    padding: 2% 0;
    font-size: 100%;
    color: #0a3871;
    background: #D8DFE8;
    border-color: #0a3871;
    border-radius: 24px;
    transition: 400ms all;
    cursor: pointer;
    display: none;
}



@media screen and (max-width:375px){
    header{
        margin: 3% 0;
        display:inline;
    }
    main{
        width: 95%;
        margin: 0;
        margin-left: 5%;
    }
    .ingresotexto, .encriptador, .desencriptador, .respuesta, .ingresotexto{
        width: 91%;
        margin: 3%;
        align-items: center;
    }
    .encriptador, .desencriptador{
        padding: 6%;
    }
    .input{
        display: inline;
    }
    .muñeco{
        width: 0%;
    }
    .ingresotexto p{
        margin: 3%;
    }
       
}
@media screen and (max-width:768px){
    header{
        margin: 0 0;
        padding: 5%;
        display:inline-block;
    }
    main{
        width: 100%;
        margin: 15% 0 0 0;
    }
    .ingresotexto, .respuesta, .ingresotexto{
        width: 94%;
        margin: 3%;
        align-items: center;
    }
    .encriptador, .desencriptador{
        width: 45%;
        margin: 2%;
        padding: 3%;
    }
    .input{
        display: inline;
    }
    .muñeco{
        width: 0%;
    }
    .ingresotexto p{
        margin: 50px 0 0 0;
    }
}
@media screen and (max-width:1366px){
    .ingresotexto, .ingresotexto p{
        margin-top: 3%;
    }
    .respuesta{
        padding: 5% 1.2% 7% 1.2%;
        background-color: white;
        border-radius: 32px;
    }
}


  